html {
  scroll-behavior: smooth;
}
html body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Nunito", sans-serif;
  background-color: rgb(17, 17, 17);
  color: wheat;
}
html body header {
  background-color: rgb(17, 17, 17);
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 1;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  box-shadow: rgba(218, 165, 32, 0.171) 0px 10px 20px -5px;
}
html body header .logo {
  font-size: 2.5rem;
  color: wheat;
  margin-top: -6px;
  margin-left: 25px;
  padding: 10px;
}
html body header .navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
html body header .navbar ul {
  margin-right: 46px;
  display: flex;
  list-style: none;
}
html body header .navbar li {
  float: left;
  font-size: 1.1rem;
  padding: 5px;
  padding-left: 12px;
  padding-right: 12px;
  margin: 4px;
}
html body header .navbar li:hover {
  transition: ease-in-out 0.2s;
  background-color: rgb(184, 141, 32);
  border-radius: 3px;
}
html body header .navbar li:hover a {
  color: rgb(17, 17, 17);
}
html body header .navbar li.active {
  transition: ease-in-out 0.2s;
  border-radius: 3px;
  background-color: goldenrod;
}
html body header .navbar li.active a {
  color: rgb(17, 17, 17);
}
html body header .navbar a {
  text-decoration: none;
  color: wheat;
}
html body .main {
  color: blanchedalmond;
  margin: 0 2%;
}
html body .main #home {
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-align: center;
  align-items: center;
}
html body .main .pg {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
  min-height: 100vh;
  padding: 0 20px;
  height: 100vh;
}
html body .main .pg h1 {
  padding: 2px 20px 2px 20px;
  margin: 0px 0px 80px 0px;
  color: rgb(235, 203, 64);
  letter-spacing: 3px;
  font-size: 3rem;
  text-shadow: 3px 0px 7px rgba(218, 184, 32, 0.377), -3px 0px 7px rgba(218, 184, 32, 0.336), 0px 4px 7px rgba(218, 184, 32, 0.301);
}
html body .main .pg h1:hover {
  transition: ease-in-out 0.2s;
  text-shadow: 5px 0px 10px rgba(218, 184, 32, 0.377), -3px 0px 10px rgba(218, 184, 32, 0.336), 0px 4px 10px rgba(218, 184, 32, 0.301);
}
html body .main .pg p {
  font-size: 1.1rem;
}
html body .main .pg .highlight {
  color: rgb(255, 187, 0);
  font-size: 1.1rem;
}
html body .main .pg a {
  text-decoration: underline;
  background-color: rgb(255, 183, 0);
  color: rgb(17, 17, 17);
  border-radius: 1px;
  font-size: 1.1rem;
  padding: 0px 7px 0px 5px;
  box-shadow: goldenrod 0px 5px 20px -5px;
}
html body .main .pg .intro-img-1 {
  width: 350px;
  position: relative;
  display: flex;
  justify-content: space-between;
  box-shadow: rgba(218, 165, 32, 0.267) 0px 54px 55px, rgba(218, 165, 32, 0.521) 0px -12px 30px, rgba(218, 165, 32, 0.699) 0px 4px 6px, rgba(218, 165, 32, 0.603) 0px 12px 13px, rgba(218, 165, 32, 0.466) 0px -3px 5px;
}
html body .main .pg .intro-title {
  text-align: left;
  font-size: 5rem;
  font-weight: 50;
  font-weight: lighter;
  padding: 2px 0px 2px 105px;
}
html body .main .pg .intro-title #full-name {
  z-index: -1;
  margin: 30px 0 0 0;
  padding: 2px 14px 2px 125px;
  background-color: goldenrod;
  color: rgb(17, 17, 17);
  border-radius: 3px;
  display: block;
  font-weight: 900;
}
html body .main .pg .skillsImgArray ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
html body .main .pg .skillsImgArray ul li {
  display: flex;
  padding: 0px 100px 0px 0px;
}
html body .main .pg .skillsImgArray ul li img {
  filter: grayscale(100%);
  width: 130px;
  opacity: 50%;
  max-inline-size: 300%;
  block-size: auto;
}
html body .main .pg .contact-me-form {
  display: flex;
  margin-right: 555px;
  align-items: flex-start;
  text-align: center;
}
html body .main .pg .contact-me-form form .form-slate {
  display: flex;
  margin: 20px 0 0 0;
}
html body .main .pg .contact-me-form form .form-slate label {
  display: none;
  margin: 10px 0 5px 0;
}
html body .main .pg .contact-me-form form input[type=text], html body .main .pg .contact-me-form form input[type=email], html body .main .pg .contact-me-form form textarea {
  width: 400%;
  align-items: flex-start;
  resize: none;
  padding: 12px;
  border: 1px solid goldenrod;
  box-shadow: goldenrod 0px 1px 4px;
  border-radius: 5px;
  color: goldenrod;
  background-color: rgb(27, 26, 26);
  font-size: 1rem;
  box-sizing: border-box;
  resize: vertical;
}
html body .main .pg .contact-me-form form input[type=text]:focus, html body .main .pg .contact-me-form form input[type=email]:focus, html body .main .pg .contact-me-form form textarea:focus {
  outline-width: 0;
  background-color: rgb(39, 38, 38);
  transition: ease-in-out 0.2s;
  box-shadow: goldenrod 0px 3px 8px;
}
html body .main .pg .contact-me-form form .submit {
  margin: 15px 0 0 0;
  display: flex;
  align-items: center;
  position: absolute;
  right: 45%;
}
html body .main .pg .contact-me-form form .submit button {
  font-family: "Nunito", sans-serif;
  background-color: goldenrod;
  border: none;
  color: rgb(17, 17, 17);
  padding: 15px 40px 15px 40px;
  margin: 4px 2px;
  text-align: center;
  font-size: 1.2rem;
  cursor: pointer;
  text-decoration: none;
  box-sizing: border-box;
  box-shadow: goldenrod 0px 2px 8px 0px;
  display: inline-block;
  border-radius: 3px;
}
html body .main .pg .contact-me-form form .submit button:hover {
  transition: ease-in-out 0.2s;
  box-shadow: goldenrod 0px 1px 16px;
}
html body footer {
  margin: 90px 0 0 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  line-height: 1%;
  font-family: "Nunito", sans-serif;
}
html body footer .copyright-claim {
  align-items: center;
  justify-content: space-between;
  font-family: "Nunito", sans-serif;
  word-spacing: 5px;
  color: wheat;
  margin: 0 -25px 0px 0;
}
html body footer .footrLinkArray {
  position: relative;
  justify-content: center;
  align-items: center;
  text-align: center;
  box-sizing: border-box;
}
html body footer .footrLinkArray ul {
  list-style: none;
  display: flex;
  padding-right: 10px;
}
html body footer .footrLinkArray li {
  float: left;
  justify-content: space-between;
  padding: 10px;
  margin: 5px;
  margin-top: 5px;
  font-size: 1.1rem;
}
html body footer .footrLinkArray li a {
  text-decoration: underline;
  color: goldenrod;
}
html body footer .footrSocialMediaLinks {
  position: relative;
  right: 2%;
  display: flex;
  flex-direction: row;
  margin: 30px 45px 10px 0;
}
html body footer .footrSocialMediaLinks ul {
  display: flex;
  list-style: none;
  justify-content: space-between;
}
html body footer .footrSocialMediaLinks ul li {
  float: left;
  padding: 0 0 0 90px;
}
html body footer .footrSocialMediaLinks ul li a {
  text-decoration: underline;
  color: rgb(218, 122, 32);
}
html body footer .footrSocialMediaLinks ul li a:hover img {
  transition: ease-in-out 0.1s;
  opacity: 90%;
}
html body footer .footrSocialMediaLinks ul li a img {
  width: 25px;
  opacity: 30%;
}/*# sourceMappingURL=styles.css.map */