body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: rgb(17, 17, 17);
    color: wheat;

    header {
        background-color: rgb(17, 17, 17);
        position: sticky;
        top: 0;
        width: 100%;
        z-index: 1;

        .logo {
            font-size: 2.5rem;
            color: wheat;
            margin-top: -6px;
            margin-left: 25px;
            padding: 10px;
        }

        .navbar {
            display: flex;
            align-items: center;
            justify-content: space-between;

            ul {
                margin-right: 46px;
                display: flex;
                list-style: none;
            }

            li {
                float: left;
                font-size: 1.1rem;
                padding: 5px;
                padding-left: 12px;
                padding-right: 12px;
                margin: 4px;

                &:hover {
                    transition: ease-in-out 0.2s;
                    background-color: rgba(218, 165, 32, 0.507);
                    border-radius: 3px;
                    a {
                        color: rgb(17, 17, 17);
                    }
                }
            }

            li.active {
                transition: ease-in-out 0.2s;
                border-radius: 3px;
                background-color: goldenrod;
                // font-size: 1.2rem;

                a{
                    color: rgb(17, 17, 17);
                }
            }

            a{
                text-decoration: none;
                color: wheat;
            }
        }
    }

    .main {
        color: blanchedalmond;
        // display: flex;
        margin: 0 2%;
        .pg {
            display: flex;
            justify-content: center;
            text-align: center;
            align-items: center;
            min-height: 100vh;
            padding: 0 20px;

            h1 {
                color: rgb(235, 203, 64);
                letter-spacing: 3px;
                font-size: 2rem;
            }

            .intro--title {
                background-color: goldenrod;
                color: rgb(17, 17, 17);
                padding: 2px 23px 2px 23px;
                border-radius: 2px;
            }
        }
    }

    footer {
        text-align: center;
        padding-left: 450px;
        line-height: 1%;

        span {
            word-spacing: 2px;
            letter-spacing: 2px;
            padding-right: 450px;
            color: gray;
            font-family: serif;
        }

        .footrLinkArray {
            box-sizing: border-box;
            position: relative;

            ul {
                list-style: none;
                display: flex;
                padding-right: 10px;
                // margin: 10px;
            }

            li {
                float: left;
                justify-content: space-between;
                padding: 10px;
                margin: 5px;
                margin-top: 5px;
                font-size: 1.1rem;

                a {
                    text-decoration: underline;
                    color: goldenrod;
                }
            }
        }
    }
}