body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Nunito", sans-serif;
  background-color: #111111;
  color: wheat;
}
body header {
  background-color: #111111;
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 1;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
body header .logo {
  font-size: 2.5rem;
  color: wheat;
  margin-top: -6px;
  margin-left: 25px;
  padding: 10px;
}
body header .navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
body header .navbar ul {
  margin-right: 46px;
  display: flex;
  list-style: none;
}
body header .navbar li {
  float: left;
  font-size: 1.1rem;
  padding: 5px;
  padding-left: 12px;
  padding-right: 12px;
  margin: 4px;
}
body header .navbar li:hover {
  transition: ease-in-out 0.2s;
  background-color: #b88d20;
  border-radius: 3px;
}
body header .navbar li:hover a {
  color: #111111;
}
body header .navbar li.active {
  transition: ease-in-out 0.2s;
  border-radius: 3px;
  background-color: goldenrod;
}
body header .navbar li.active a {
  color: #111111;
}
body header .navbar a {
  text-decoration: none;
  color: wheat;
}
body .main {
  color: blanchedalmond;
  margin: 0 2%;
}
body .main .pg {
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  min-height: 100vh;
  padding: 0 20px;
  height: 100vh;
  overflow-y: auto;
  overflow-x: hidden;
  perspective: 10px;
}
body .main .pg h1 {
  padding: 0;
  margin: 0;
  color: #ebcb40;
  letter-spacing: 3px;
  font-size: 3rem;
}
body .main .pg .intro-img-1 {
  width: 350px;
  position: relative;
  display: flex;
  justify-content: space-between;
  box-shadow: rgba(218, 165, 32, 0.267) 0px 54px 55px, rgba(218, 165, 32, 0.521) 0px -12px 30px, rgba(218, 165, 32, 0.699) 0px 4px 6px, rgba(218, 165, 32, 0.603) 0px 12px 13px, rgba(218, 165, 32, 0.466) 0px -3px 5px;
}
body .main .pg .intro-title {
  text-align: left;
  font-size: 5rem;
  font-weight: 50;
  font-weight: lighter;
  padding: 2px 23px 2px 70px;
}
body .main .pg .intro-title strong {
  z-index: -1;
  margin: 30px 0 0 0;
  padding: 2px 14px 2px 125px;
  background-color: goldenrod;
  color: #111111;
  border-radius: 3px;
  display: block;
  font-weight: 900;
}
body footer {
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: 1%;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif span;
  font-family-align-items: center;
  font-family-justify-content: space-between;
  font-family-word-spacing: 2px;
  font-family-letter-spacing: 2px;
  font-family-color: gray;
  font-family-font-family: serif;
}
body footer .footrLinkArray {
  position: relative;
  justify-content: center;
  align-items: center;
  text-align: center;
  box-sizing: border-box;
}
body footer .footrLinkArray ul {
  list-style: none;
  display: flex;
  padding-right: 10px;
}
body footer .footrLinkArray li {
  float: left;
  justify-content: space-between;
  padding: 10px;
  margin: 5px;
  margin-top: 5px;
  font-size: 1.1rem;
}
body footer .footrLinkArray li a {
  text-decoration: underline;
  color: goldenrod;
}

/*# sourceMappingURL=variables.css.map */
